[submodule "extern/glfw"]
	path = extern/glfw
	url = git@github.com:glfw/glfw.git
[submodule "extern/vk-bootstrap"]
	path = extern/vk-bootstrap
	url = git@github.com:charles-lunarg/vk-bootstrap.git
[submodule "extern/vma"]
	path = extern/vma
	url = git@github.com:GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
